# Análisis de datos Synergy Logistics 
## Propuesta Operativa 2021
> Por Diana Aviles

<hr>
<b> Descripción del código </b>
<br> <br>
<i> Importamos las librerías </i>

In [19]:
import pandas as pd
import numpy as np

<i> Comentarios </i>

<i> Pruebas </i>

In [20]:
data = pd.read_csv('synergy_logistics_database.csv')
data.columns
data['total_value'].sum()

215691298000

### Rutas de importación y exportación

<i> Comentarios </i>

In [29]:
orgiw = data.groupby(['direction'])
orgiw.get_group('Exports')

,register_id,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
0,1,Exports,Japan,China,2015,31/01/15,Cars,Sea,Honda,33000000
1,2,Exports,Japan,China,2015,01/02/15,Cars,Sea,Honda,16000000
2,3,Exports,Japan,China,2015,02/02/15,Cars,Sea,Honda,29000000
3,4,Exports,Japan,China,2015,03/02/15,Cars,Sea,Honda,14000000
4,5,Exports,Japan,China,2015,04/02/15,Cars,Sea,Honda,17000000
...,...,...,...,...,...,...,...,...,...,...
15403,15404,Exports,Netherlands,Belgium,2020,27/06/20,Meat,Road,Dutch Meat Bv,0
15404,15405,Exports,Netherlands,Belgium,2020,28/06/20,Meat,Road,Dutch Meat Bv,0
15405,15406,Exports,Netherlands,Belgium,2020,29/06/20,Meat,Road,Dutch Meat Bv,9000
15406,15407,Exports,Netherlands,Belgium,2020,30/06/20,Meat,Road,Dutch Meat Bv,1000
15407,15408,Exports,Netherlands,Belgium,2020,01/07/20,Meat,Road,Dutch Meat Bv,4000

### Medio de transporte utilizado

### Valor total de importaciones y exportaciones