# Análisis de datos Synergy Logistics 
## Propuesta Operativa 2021
> Por Diana Aviles

<hr>
<b> Descripción del código </b>
<br> <br>
<i> Importamos las librerías </i>

In [1]:
import pandas as pd
import numpy as np

<i> Comentarios </i>

<i> Pruebas </i>

In [2]:
data = pd.read_csv('synergy_logistics_database.csv')
data.columns
data['total_value'].sum()

215691298000

### Rutas de importación y exportación

<i> Comentarios </i>

In [10]:
order1 = data.sort_values('year')
orgiw = order1.groupby(by = ['year','origin','destination']).count()
orgiw2 = orgiw.sort_values('register_id', ascending=False)
orgiw2.head()

,,,register_id,direction,date,product,transport_mode,company_name,total_value
year,origin,destination,,,,,,,
2015,Netherlands,Belgium,216,216,216,216,216,216,216
2019,Germany,China,175,175,175,175,175,175,175
2020,Netherlands,Belgium,159,159,159,159,159,159,159
2019,China,Japan,157,157,157,157,157,157,157
2018,Japan,Canada,152,152,152,152,152,152,152

### Medio de transporte utilizado

### Valor total de importaciones y exportaciones